@charset "utf-8";
/* CSS Document */
html {
  font-size: 16px;
}

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	/*font-size: 0.7rem;*/
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	color: #333;
}
a {
  /*color: orange;*/
  color: #9E3314;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0.3em;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
footer#footer {
  background-color: #444;
  color: #D9D9D9;
  font-size: 0.7rem;
  letter-spacing: 1px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  max-width: 100%;
}
footer#footer a {
  color: whitesmoke;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center; /*centering the contents*/
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 0.9rem;
    margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #165C92;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100vw;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */

/*small screen by default*/

.filter-options {
  width: 100%;
  background-color: #165C92;
  align-items: center;
  display: flex; /*allow content to flow*/
  flex-wrap: wrap; /*let elements wrap*/
}

.filter-options div {
  width: 100%;
  padding: 10px;
}

.filter-options h2 {
  color: white;
  font-size: 1rem;
  white-space: nowrap; /*show text in one line*/
  font-weight: normal;
  line-height: 1;
  margin: 0;
  width: 100%;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 1rem;
  height: 35px;
  letter-spacing: 0;
  padding: 0 10px;
  width: 100%; /*take the full width*/
  border-radius: 5px; /*just to make it less square*/
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  display: grid;
  grid-template-columns: 28% 72%;
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
  grid-gap: 0.3em;
  padding: 0.3em;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  /*display: block;*/
  max-width: 100%;
  grid-column: 1;
  grid-row: 1 / 5;
}

#restaurants-list li h1, #restaurants-list p{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 95%;
}

#restaurants-list li h3 {
  color: #9E3314;
  font-family: Arial,sans-serif;
  font-size: 1.1rem;
  font-weight: 200;
  letter-spacing: 0;
  text-transform: uppercase;
  grid-column: 2;
}
#restaurants-list p {
  margin: 0;
  font-size: 1rem;
  grid-column: 2;
}

#restaurants-list li a {
  /*background-color: orange;*/
  background-color: #9E3314;
  color: #fff;
  /*color: #2B2B2B;*/
  display: inline-block;
  font-size: 1rem;
  padding: 10px 30px 10px;
  margin: 3px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  grid-column: 2;
  border-radius: 5px; /*just to make it less square*/
}

.stars {
  color: #A13102;
}

/* ====================== Restaurant Details ====================== */

#restaurant-name {
  /*color: #f18200;*/
  color: #9E3314;
  font-family: Arial,sans-serif;
  font-size: 1.1rem;
  font-weight: 200;
  letter-spacing: 0;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  max-width: 100%;
}

.restaurant-img-none {
  display: none;
}

#restaurant-address {
  font-size: 1rem;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
}

#restaurant-container, #reviews-container {
  padding: 15px 15px;
	max-width: 100%;
}

#restaurant-hours {
  font-size: 1rem;
  padding: 0 20px;
  max-width: 100%;
  width: 100%;
  margin-bottom: 15px;
}


#reviews-container h3 {
  color: #9E3314;
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  display: block;
  list-style-type: none;
  margin: 0 0 10px;
  overflow: hidden;
  padding: 0 20px;
  position: relative;
}
#reviews-list li p {
  margin: 10px;
  font-size: 0.8rem;
}
#restaurant-hours td {
  color: #666;
}

/* ====================== Skip Link ====================== */
.skip-link {
	position:absolute;
	top:-40px;
	left:0;
	color:white;
	padding: 8px;
	z-index:100;
}
.skip-link:focus {
	top: 0px;
}