@import 'common';
/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 15px 15px 60px;
  text-align: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  display: grid;
  grid-template-columns: 28% 72%;
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
  grid-gap: 0.3em;
  padding: 0.3em;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  max-width: 100%;
  grid-column: 1;
  grid-row: 1 / 5;
}

#restaurants-list li h1, #restaurants-list p{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 95%;
}

#restaurants-list li h3 {
  color: #9E3314;
  font-family: Arial,sans-serif;
  font-size: 1.1rem;
  font-weight: 200;
  letter-spacing: 0;
  text-transform: uppercase;
  grid-column: 2;
}
#restaurants-list p {
  margin: 0;
  font-size: 1rem;
  grid-column: 2;
}

#restaurants-list li a {
  @include button();
  grid-column: 2;
  border-radius: 5px; /*just to make it less square*/
}

.stars {
  color: #A13102;
}
