@charset "utf-8";

/* ====================== Restaurants list ============================== */
@media screen and (min-width: 550px) {
    #restaurants-list li {
        display: block;
    }

    #restaurants-list {
        display: grid;
        grid-template-columns: repeat(2, 43vw);
        align-items: center;
        grid-gap: 0.3em;
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 710px) {
    #restaurants-list {
        grid-template-columns: repeat(3, 29vw);
    }
}
@media screen and (min-width: 1000px) {
    #restaurants-list {
        grid-template-columns:  repeat(4, 22vw);
    }
}
/* ====================== Restaurant Filtering ====================== */

@media screen and (min-width: 530px) {
    .filter-options {
        flex-wrap: nowrap; /*show all in one line*/
    }
    .filter-options div {
        width: auto;
    }

    .filter-options select {
        width: 180px; /**/
    }
}